* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background-image: linear-gradient(to right,#334257 , #055052);
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 92vh;
  padding:60px 20px 0 20px;
  background-image: linear-gradient(to right,#B5EAEA , #C9E4C5 );
  
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right,#055052 , #334257 );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}



.logoutnav{
  width: auto;
  border-radius: 2rem;
  background-color: black;
  padding: 10px;
  margin: 10px;
  position:absolute;
  top:0;
  right:0;
}
.hometitle{
  background-color: #334257;
  height:max-content;
  font-size: 20px;
  color:#EEEEEE;
  text-align: center;
  padding: 18px;
  font-weight: 900;
  width:100%;
  
}

